.TopBar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 50px);
  height: 100px;
  display: grid;
  grid-template: 100% / 2fr 1fr;
}

.OutputField {
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;
}

.OutputElement {
  display: inline-block;
  height: 75px;
  text-align: center;
  margin-right: 10px;
  border-radius: 7px;
}

.OutputElement img {
  height: 70%;
}

.Controls {
  position: absolute;
  bottom: 50%;
  right: 300px;
  transform: translate(0, 50%);
  color: #474747;
  cursor: pointer;
  /* display: flex; */
  width: 100px;
  height: 40px;
  /* align-items: center;
  justify-content: center; */
}

.Controls .Control {
  opacity: 0.5;
  height: 100%;
  font-size: 50px;
  display: inline-block;
}

.Controls .Control:hover {
  opacity: 1;
}
