.App {
  width: 100%;
  height: 100%;
}

.Settings {
  transform: translate(0, -50%);
  position: fixed;
  top: 37.5px;
  right: 20px;
  z-index: 99;
}

.Settings img {
  width: 30px;
  opacity: 0.3;
}

.Settings img:hover {
  opacity: 1;
}
