.ControlPanel {
  grid-area: 1 / 2 / 1 / 2;
  color: #474747;
  cursor: pointer;
  /* width: 500px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 20px 0; */
}

.Control {
  transition-duration: 0.3s;
  opacity: 0.5;
  height: 40px;
  font-size: 50px;
  display: inline-block;
  margin-right: 10px;
}

.Control:hover {
  transition-duration: 0.3s;

  opacity: 1;
}
