.Settings {
  text-align: center;
}

.Colors {
  display: flex;
  justify-content: space-evenly;
}

.ColorPicker {
}

.ColorPicker .ActionType {
  display: inline-block;
}

.Done {
  margin-top: 20px;
  display: block;
  border: 3px solid #474747;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #474747;
}
