.TypeColors {
  display: inline-block;
  width: 300px;
  box-shadow: 3px 4px 3px 2px #ccc;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  border-radius: 4px;
}

.TypeColor {
  display: block;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  position: relative;
  line-height: 50px;
  text-align: left;
  cursor: pointer;
}

.Type {
  /* display: inline-block; */
}

.Color {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
